/* Sticky footer styles
      -------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

#main-container {
	padding-top: 60px;
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
}

.container .credit {
	margin: 20px 0;
}

/* Main container
      -----------------------------------------------*/
#left-container {
	border-right: dotted 1px #aaa;
}

#left-container-top {
	min-height: 200px;
}

#left-container-bottom {
	border-top: dotted 1px #aaa;
}

#right-container {
	
}

/* AUdio files.
 -----------------------------------------------------*/
.audio-file {
	border-top: 1px solid #DDDDDD;
	line-height: 20px;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

/* Progress bar.
 -----------------------------------------------------*/
.loader {
	text-align: center;
}

.loader span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 50px auto;
	background: black;
	border-radius: 50px;
	-webkit-animation: loader 0.9s infinite alternate;
	-moz-animation: loader 0.9s infinite alternate;
}

.loader span:nth-of-type(2) {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
}

.loader span:nth-of-type(3) {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
}

.ui-progressbar {
	position: relative;
}

.progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

/*************************************************
    SIGN IN
  ************************************************/
.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/*************************************************
    			VOICE RECORDER
  ************************************************/
.audio-graphic {
	padding: 10px;
	background-color: #eee;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.notice {
	padding: 5px;
}

#record.recording {
	background: red;
	background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%, lightgrey 75%
		, lightgrey 100%, #7db9e8 100%);
}

#record-label{
	padding:10px;
}